<section class="main">
  <div class='row pageTitle'>
    <div class="col-sm-11">
        Carousel Administration
    </div>
    <div class="col-sm-1">
      <i class="fa fa-plus-square" id="addnewproject"></i>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
        
  {{#each dynamicData}}
    <div class="row">
      <form enctype="multipart/form-data" action="updateCarousel" method="POST">
        <div class="adminImageArea col-md-7">
          
          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Quote:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="carouselQuote" name="carouselQuote" value="{{this.quote}}"/>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Attribution:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="carouselSource" name="carouselSource" value="{{this.quotesource}}"/>
              <input type="hidden" id="dbid" name="dbid" value="{{this.id}}"/>
            </div>
          </div>

          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Quote Width:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="quoteWidth" name="quoteWidth" value="{{this.quoteWidth}}"/>
            </div>
          </div>

          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Quote Height:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="quoteHeight" name="quoteHeight" value="{{this.quoteHeight}}"/>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 formLabel">
              Horizontal Position: 
            </div>
            <div class="col-xs-8">
              <select class="formInput" id="hPosition" name="hPosition">
                <option value="left" {{#if this.left}} selected{{/if}}>Left</option>
                <option value="right" {{#if this.right}} selected{{/if}}>Right</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 formLabel">
              Vertical Position: 
            </div>
            <div class="col-xs-8">
              <select class="formInput" id="vPosition" name="vPosition">
                <option value="top" {{#if this.top}} selected{{/if}}>Top</option>
                <option value="bottom" {{#if this.bottom}}selected {{/if}}>Bottom</option>
              </select>
            </div>
          </div>

          <button type="submit" id="update">Update</button>
          <a href="deleteCarousel/{{this.id}}">
              <button type="button" id="delete">Delete</button>
          </a>
        </div>

        <div class="adminTextArea col-md-5">
            <img class="carouselPreview" src="{{this.imagepath}}">
            <input type="file" name="carouselPicture" id="carouselPicture">
            <input type="hidden" id="carouselImage" name="carouselImage" value="{{this.imagepath}}"/>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="cols-sm-12">
        <hr/>
      </div>
    </div>
  {{/each}}


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header pageTitle">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          Add New Carousel Object
        </div>
        
        <div class="modal-body">
          <form enctype="multipart/form-data" action="newCarousel" method="POST">
            
            <input type="file" name="carouselPicture" id="carouselPicture">
            
            <div class="row">
              <div class="col-xs-4 formLabel">
                Quote: 
              </div>
              <div class="col-xs-8 ">
                <input class="formInput" type="text" id="NewQuote" name="NewQuote"/> 
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 formLabel">
                Attribution: 
              </div>
              <div class="col-xs-8">
                <input class="formInput" type="text" id="NewSource" name="NewSource"/> 
              </div>
            </div>



          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Quote Width:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="newQuoteWidth" name="newQuoteWidth"/>
            </div>
          </div>

          <div class='row'>
            <div class='col-xs-4 formLabel'>
              Quote Height:
            </div>
            <div class='col-xs-8'>
              <input class="formInput" type="text" id="newQuoteHeight" name="newQuoteHeight"/>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 formLabel">
              Horizontal Position: 
            </div>
            <div class="col-xs-8">
              <select class="formInput" id="newHPosition" name="newHPosition">
                <option value="left">Left</option>
                <option value="right">Right</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 formLabel">
              Vertical Position: 
            </div>
            <div class="col-xs-8">
              <select class="formInput" id="newVPosition" name="newVPosition">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
              </select>
            </div>
          </div>

            <div class="row">
              <button type="submit" id="update">Submit</button>
              <button type="cancel" id="cancel" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</section>