<section class="main">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

  <div class='row pageTitle'>
    <div class="col-sm-12">
        About Me Administration
    </div>
  </div>

   <form enctype="multipart/form-data" action="updateAboutMe" onsubmit="return validateUpdateBioForm()" method="POST"> 

    <div class='row'>
      <div class="col-sm-12">
        <span class="titleText">About Me</span> (limit 2,000 characters)
      </div>
    </div>  
    <div class="row">
      <div class="adminImageArea col-md-5">
        <img class='CMSImage' src="{{dynamicData.aboutimage}}">
        <input type="file" name="profilepicture" id="profilepicture">
        <input type="hidden" id="AboutMeImage" name="AboutMeImage" value="{{dynamicData.aboutimage}}"/> 
      </div>

      <div class="hideElement adminTextArea col-md-7">
        <textarea rows="4" cols="50" id="AboutMeBio" name="AboutMeBio" maxlength="2000">{{dynamicData.about}}</textarea> 
      </div>

      <div class="col-md-7">
        <div class="row">
          <div id="summernoteAboutMe">
        </div>
        </div>
    </div>

    <div class='row'>
      <div class="col-sm-12">
        <span class="titleText">Bio</span> (limit 2,000 characters)
      </div>
    </div>

    <div class="row">
      <div class="adminImageArea col-md-5">
        <img class='CMSImage'src="{{dynamicData.bioimage}}">
        <input type="file" name="biopicture" id="biopicture">
        <input type="hidden" id="BioImage" name="BioImage" value="{{dynamicData.bioimage}}"/> 
      </div>

      <div class="hideElement adminTextArea col-md-7">
        <textarea type="hidden" rows="4" cols="50" id="biotext" name="biotext" maxlength="2000">{{dynamicData.bio}}</textarea> 
      </div>

      <div class="col-md-7">
        <div class="row">
          <div id="summernoteBio">
        </div>
      </div>
    </div>

    <div class="row">
        <div class='col-xs-12'>
          <button type="submit" id="updatebio">Update</button>
        </div>
    </div>

  </form>

 
 <script>
    $(document).ready(function() {
      //Initialize Summernote for the About Me section
      $('#summernoteAboutMe').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']]
          ]
      });

      //Initialize Summernote for the Bio section
      $('#summernoteBio').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link']]
          ]
      });

      //Read coded contents & decode them
      var aboutMeContent = $("#AboutMeBio").val();
      var decodedAboutMe = decodeURI(aboutMeContent);

      var bioContent = $("#biotext").val();
      var decodedbio = decodeURI(bioContent);

      //Insert decoded text into the proper fields  
      $('#summernoteAboutMe').summernote('code', decodedAboutMe);
      $('#summernoteBio').summernote('code', decodedbio);
    });
  </script>

</section>